body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    background-image: url(background.jpg);
    background-position: center;
    background-size:initial;
}
.sign-up-form{
    width: 300px;
    box-shadow: 3px 3px 2px 0px rgb(26, 26, 26);
    background: rgb(84, 84, 84);
    padding: 20px;
    margin: 6% auto 0;
    text-align: center;
    
}
.sign-up-form h1{
    font-weight: bold;
    background-color: rgb(163, 162, 163);
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    margin-bottom: 50px;
}

.input-box{
    padding: 5px;
    border-radius: 10px;
    width: 100%; 
    outline: none;
    margin-left: -5px;
}

.sign-up-button{
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 20px;
    width: 100%;
}